<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found</h1>
    <h3>Something goofed, no recipe here!</h3>
    <img src="/images/404image.png" type="image/png" alt="whisk boy" class="fourOhFour">
    <a href="/">â† Back To Home</a>
  </div>
</div>
