<div class="container">
  <div class="row">
    <div class="col s8">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Recipes</h5>
          <p>
            <strong>ID</strong>: {{recipe.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{recipe.text}}</p>
          <p>
            <strong>Description:</strong> {{recipe.description}}</p>
        </div>
          <a class="waves-effect waves-light btn" id="clear">Clear</a>
      </div>
      <a href="/" class="waves-effect waves-light btn" id="homeBtn">← Back To Home</a>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>
<script src="../public/js/recipeList.js"></script>
