<div id="recipe">
<h4 class="collection-header" id="recHead" >Recipes</h4>
</div>  
  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="card mt-4" id="recipeHolder">
            <div class="card-body">
              <p>
                <strong>ID</strong>: {{recipe.id}}</p>
              <p>
              <p>
                <strong>Text</strong>: {{recipe.text}}</p>
              <p>
                <strong>Description:</strong> {{recipe.description}}</p>
            </div>
        </div>
              <div class="container row col s12" id="topBtn">
                <a class="waves-effect waves-light btn" id="clear">Clear</a>
                <a class="waves-effect waves-light btn" id="save">Save</a>
              </div>
              <div class="container row col s12">
                <a class="waves-effect waves-light btn" id="clrRec">Clear Recipes</a>
                <a href="/" class="waves-effect waves-light btn" id="homeBtn">← Back To Home</a>
              </div>
        
      </div>
    </div>
  </div>


<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/recipeList.js"></script>

