.list-group-item {
  line-height: 2.5;
}
.sidebar{
  height:130vh;
}
.card{
  padding-top:0px;
  margin-top:0px;
  margin-bottom:-10px;
}


.fourOhFour {
  max-width: 100%;
}

.ingredientAdd {
  background-color: #ee6e73;
}

#homeBtn {
  margin-top: 10%;
background-color: #8d6e63;
}

#clear {
  margin: 2%;
  background-color: #8d6e63;
}

#save {
  margin: 2%;
  background-color: #8d6e63;
}

#clrRec {
  margin: 2%;
  background-color: #8d6e63; 
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color:rebeccapurple;
  height:75px;
  font-size: 15px;
  padding-top:20px;
  z-index: 99;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 20px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
  
}
body{
  font-family: 'Roboto', sans-serif;
}
.newrecipeform{
  padding-top:100px;
}